@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-dark-200: #101010;
  --color-dark-300: #111;
  --color-dark-400: #333;
  --color-dark-500: #444;
  --color-dark-600: #555;

  --color-light-200: #fff;
  --color-light-400: #f4f4f4;
  --color-light-600: #ccc;

  --text-color: var(--color-light-200);
  --background-color: var(--color-dark-200);
  --skill-color: var(--color-dark-300);
}

:root.light {
  --text-color: var(--color-dark-200);
  --background-color: var(--color-light-200);
  --skill-color: var(--color-light-300);
}

/* Utilities */
::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--color-dark-400);
  border-left: 2px solid var(--background-color);
  border-right: 2px solid var(--background-color);
}

::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-color: var(--color-light-600);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-light-400);
}

a {
  text-decoration: none;
  font-family: inherit;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Manrope', 'Inter', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Menu Button */
#menu-btn {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: .5rem 1rem;
  border: 1px solid var(--color-dark-600);
  border-radius: 10px;
  cursor: pointer;
  background: var(--background-color);
  z-index: 1;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
}

#menu-btn:hover {
  filter: brightness(1.2);
}

#menu-btn > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: .3s all ease;
  transform-origin: center;
}

#menu-btn > div:last-child {
  position: relative;
}

#menu-btn > div:last-child::before,
#menu-btn > div:last-child::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: var(--color-light-200);
  transition: .35s 0s all ease;
  transform-origin: center;
}

#menu-btn > div:last-child::after {
  transform: translate(-50%, -50%) rotate(45deg) scaleX(0);
}

#menu-btn:hover > div:last-child,
#menu-btn.open > div:last-child {
  transform: rotate(90deg);
}

#menu-btn.open > div:last-child:before {
  transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
  transition: .35s .25s all ease;
}

#menu-btn.open > div:last-child:after {
  transform: translate(-50%, -50%) rotate(45deg) scaleX(1);
  transition: .35s .25s all ease;
}

#menu-btn > div:last-child > div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--text-color);
  transition: .25s .35s all ease;
}

#menu-btn.open > div:last-child > div:first-child {
  transform: translateX(calc(50% + 2.5px));
  transition: .25s 0s all ease;
}

#menu-btn.open > div:last-child > div:last-child {
  transform: translateX(calc(-50% - 2.5px));
  transition: .25s 0s all ease;
}

/* Menu */
#menu {
  position: absolute;
  height: 100vh;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  scroll-behavior: smooth;
  /* --webkit-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  height: 100vh; */
}

main > * {
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  /* scroll-snap-align: start; */
}

/* Hero */
#hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 100px;
  background: var(--color-dark-400);
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px var(--color-dark-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s all cubic-bezier(0.80, 0.35, 0.15, 0.50);
  overflow: hidden;
}

.hero-container.extend {
  cursor: default;
  width: 90%;
  height: 90vh;
  border-radius: 15px;
  background: var(--color-dark-400);
}

.hero-container .hero-wrapper {
  overflow: hidden;
}

.hero-container h1 {
  transform: translateX(-125%);
  position: relative;
  font-size: 8rem;
  transition: .35s 0s all ease-in;
  font-weight: bolder;
  z-index: 4;
  font-optical-sizing: auto;
}

.hero-container.extend h1 {
  transform: translateX(0);
  transition: .5s 2s all ease-in-out;
}

.hero-container .hero-wrapper span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--color-light-200);
  border-radius: 50%;
}

.hero-container .scroll-down {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: .75s 2.5s all ease-in;
  visibility: hidden;
}

.hero-container .scroll-down h3 {
  font-weight: 500;
  font-size: 1rem;
  opacity: .75;
}

.hero-container .scroll-down i {
  font-size: 1.5rem;
  opacity: .75;
  animation: arrow-down 2s ease infinite;
}

.hero-container.extend .scroll-down {
  opacity: .75;
  visibility: visible;
}

.hero-container.extend .scroll-down:hover {
  opacity: .9 !important;
}

.hero-container .shape-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: var(--color-dark-600);
  border-radius: 10px;
  z-index: 0;
  transform: translate(-50%, -50%) skew(65deg, -65deg) scale(0);
  opacity: .5;
  transition: .5s all ease 1s;
}

.hero-container.extend .shape-1 {
  opacity: .5;
  transform: translate(-50%, -50%) skew(65deg, -65deg) scale(1);
}

.hero-container .shape-2 {
  position: absolute;
  display: flex;
  top: 15%;
  left: 44.5%;
  width: 75px;
  height: 25px;
  border-radius: 7.5px;
  background: var(--color-dark-600);
  transform: translate(-50%, -50%) skew(65deg, -65deg) scaleX(0);
  opacity: .75;
  z-index: 3;
  transition: .5s all ease 1.5s;
  transform-origin: right;
}

.hero-container.extend .shape-2 {
  transform: translate(-50%, -50%) skew(65deg, -65deg) scaleX(1)
}

.hero-container .shape-3 {
  position: absolute;
  display: flex;
  top: 15.5%;
  left: 41.25%;
  width: 50px;
  height: 15px;
  border-radius: 5px;
  background: var(--color-dark-600);
  transform: translate(-50%, -50%) skew(65deg, -65deg) scaleX(0);
  opacity: .5;
  z-index: 3;
  transition: .5s all ease 1.75s;
  transform-origin: right;
}

.hero-container.extend .shape-3 {
  transform: translate(-50%, -50%) skew(65deg, -65deg) scaleX(1)
}

.hero-container .shape-4 {
  position: absolute;
  display: flex;
  bottom: 28.5%;
  left: 57%;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background: var(--color-dark-600);
  transform: translate(-50%, -50%) skew(65deg, -65deg) scaleX(0);
  opacity: 1;
  z-index: 1;
  transition: .5s all ease 1.75s;
  transform-origin: right;
}

.hero-container.extend .shape-4 {
  transform: translate(-50%, -50%) skew(65deg, -65deg) scaleX(1)
}

/* Lucky Button */
/* .lucky-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  font-size: .8rem;
  cursor: pointer;
}

.lucky-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-dark-600);
  border-radius: 5px;
  transform: rotate(45deg);
  overflow: hidden;
}

.lucky-wrapper > div {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  white-space: nowrap;
  transition: .5s all ease;
}

.lucky-wrapper > div::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  background: var(--color-light-400);
  transform-origin: bottom;
  transform: translate(-50%, -50%) scaleY(0);
  transition: .5s all ease;
}

.lucky-wrapper:hover > div {
  color: var(--color-dark-200);
}

.lucky-wrapper:hover > div::before {
  transform: translate(-50%, -50%) scaleY(1);
} */

.lucky-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  font-size: .8rem;
  opacity: 0;
  visibility: hidden;
  transition: .5s all 15s ease;
}

.hero-container.extend .lucky-btn {
  opacity: 1;
  visibility: visible;
}

.lucky-btn .lucky-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--color-dark-400);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: .25s all ease;
  cursor: pointer;
}

.lucky-btn .lucky-wrapper::before {
  position: absolute;
  content: '';
  top: calc(50% + 2px);
  left: 50%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--color-dark-200);
}

.lucky-btn .lucky:hover {
  filter: brightness(0.8);
}

.lucky-btn .lucky:active {
  transform: translateY(2px);
}

.lucky-btn .lucky {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--color-dark-600);
  border-radius: 50%;
  border: 1px solid var(--color-dark-400);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: .25s all ease;
}

.lucky-btn .lucky-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-dark-600);
  border-radius: 50%;
  border: 1px solid var(--color-dark-400);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: .25s all ease;
}

.lucky-btn .lucky-indicator {
  position: absolute;
  top: 0;
  left: 100%;
  width: 10px;
  height: 10px;
  background: var(--color-light-600);
  border: 1px solid var(--color-dark-600);
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px var(--color-dark-200);
  transition: 1.5s all ease;
}

.lucky-btn.active .lucky-indicator {
  background: crimson;
}

/* Skills */
#skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  mask-image: linear-gradient(90deg,transparent 0%,#ffffff 300px,#ffffff calc(100vw - 300px),transparent 100%);
}

#skills .skills-header {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  cursor: default;
  background: var(--background-color);
  z-index: 2;
  opacity: 0;
}

#skills .skills-container {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .75rem;
}

#skills .skills-container::before,
#skills .skills-container::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 150px;
  background: #000000;
  z-index: 1;
  pointer-events: none;
}

#skills .skills-container::before {
  top: -50px;
  background: -moz-linear-gradient(top, var(--background-color) 0%, transparent 100%);
  background: -webkit-linear-gradient(top, var(--background-color) 0%, transparent 100%);
  background: linear-gradient(180deg, var(--background-color) 0%, transparent 100%);
}

#skills .skills-container::after {
  bottom: -25px;
  background: -moz-linear-gradient(bottom, var(--background-color) 0%, transparent 100%);
  background: -webkit-linear-gradient(bottom, var(--background-color) 0%, transparent 100%);
  background: linear-gradient(360deg, var(--background-color) 0%, transparent 100%);
}

#skills .skills-wrapper {
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-flow: column;
  grid-auto-rows: 100px;
  justify-content: center;
  gap: .75rem;
}

#skills .skills-wrapper:nth-child(even) {
  transform: translateX(2rem);
}

#skills .skills-wrapper .skill {
  position: relative;
  border: 1px solid var(--color-dark-400);
  border-radius: 15px;
  cursor: pointer;
  background: var(--skill-color);
  transition: .25s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s all ease-in-out;
  padding: 1rem;
}

#skills .skills-wrapper .skill:has(img) {
  opacity: 0;
}

#skills .skills-wrapper .skill.active {
  opacity: 1;
  transition-duration: 0.3s;
}

#skills .skills-wrapper .skill:has(img)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  background: var(--_glowing-color);
  filter: blur(20px);
  z-index: -1;
  opacity: 0;
  transition: 3s all ease;
}

#skills .skills-wrapper .skill:has(img):hover::before {
  opacity: 1;
  --_glowing-color: #F7DF1E;
  transition: .15s all ease;
}

#skills .skills-wrapper .skill.html:hover::before {
  --_glowing-color: #F16529;
}

#skills .skills-wrapper .skill.css:hover::before {
  --_glowing-color: #33AADD;
}

#skills .skills-wrapper .skill.java:hover::before {
  --_glowing-color: #E76F00;
}

#skills .skills-wrapper .skill.react:hover::before {
  --_glowing-color: #53C1DE;
}

#skills .skills-wrapper .skill.php:hover::before {
  --_glowing-color: #777BB3;
}

#skills .skills-wrapper .skill.code-igniter:hover::before {
  --_glowing-color: #EE4323;
}

#skills .skills-wrapper .skill.webpack:hover::before {
  --_glowing-color: #1C78C0;
}

#skills .skills-wrapper .skill.git:hover::before {
  --_glowing-color: #EE513B;
}

#skills .skills-wrapper .skill.jest:hover::before {
  --_glowing-color: #99425B;
}

#skills .skills-wrapper .skill.mysql:hover::before {
  --_glowing-color: #5D87A1;
}

#skills .skills-wrapper .skill.postgresql:hover::before {
  --_glowing-color: #336791;
}

#skills .skills-wrapper .skill.bootstrap:hover::before {
  --_glowing-color: #563D7C;
}

#skills .skills-wrapper .skill.tailwind:hover::before {
  --_glowing-color: #44A8B3;
}

#skills .skills-wrapper .skill:not(:has(img)):hover {
  transform: scale(.95);
  cursor: default;
}

#skills .skills-wrapper .skill > img {
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
  z-index: 1;
}

/* Indicator */
.indicator-wrapper {
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

.indicator-wrapper .indicator {
  padding: 0 .125rem;
  width: 5px;
  height: 35px;
  overflow: hidden;
  background: var(--color-dark-600);
  border-radius: 2.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s all ease-in-out;
  color: transparent;
  font-weight: bolder;
  opacity: .75;
}

.indicator-wrapper .indicator:hover {
  width: 100px;
  color: var(--color-light-200);
}

.indicator-wrapper .indicator.active {
  background: var(--color-light-200);
}

.indicator-wrapper .indicator.active:hover {
  color: var(--color-dark-400);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  #skills .skills-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: row;
  }

  #skills .skills-wrapper:first-child,
  #skills .skills-wrapper:last-child {
    grid-auto-flow: column;
  }

  #skills .skills-wrapper:nth-child(even) {
    transform: translateX(0);
  }

  #skills .skills-wrapper:nth-child(2) .skill:not(:has(img)) {
    display: none !important;
  }

  #skills .skills-wrapper:nth-child(3) .skill:not(:has(img)) {
    display: none !important;
  }

  #skills .skills-wrapper:nth-child(4) .skill:not(:has(img)) {
    display: none !important;
  }
}

@media (max-width: 800px) {
  #skills .skills-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(70px, 12%));
    grid-auto-rows: 10vh;
    grid-auto-flow: row;
  }
}

@media (max-width: 600px) {
  #skills {
    mask-image: none;
  }

  #skills .skills-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(100px, 12%));
    grid-auto-rows: 100px;
    grid-auto-flow: row;
  }

  #skills .skills-wrapper .skill:not(:has(img)) {
    display: none !important;
  }

  #skills .skills-wrapper .skill {
    padding: .75rem;
  }

  #skills .skills-container::before,
  #skills .skills-container::after {
    height: 100px;
  }

  #skills .skills-container::before {
    top: 0px;
  }

  #skills .skills-container::after {
    bottom: 0px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes hero-knot-drop {
  0% {
    height: 0%;
  }

  100% {
    height: 50%;
  }
}

@keyframes hero-glow {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hero-border {
  0% {
    transform: translate(-50%, -50%) scaleY(0);
  }

  100% {
    transform: translate(-50%, -50%) scaleY(1);
  }
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 600px) and (max-height: 750px) {
  #skills .skills-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(80px, 12%));
    grid-auto-rows: 80px;
  }
}