@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-dark-200: #101010;
  --color-dark-300: #111;
  --color-dark-340: #111;
  --color-dark-400: #333;
  --color-dark-500: #444;
  --color-dark-600: #555;

  --color-light-200: #fff;
  --color-light-400: #f4f4f4;
  --color-light-600: #ccc;

  --text-color: var(--color-light-200);
  --background-color: var(--color-dark-200);
  --skill-color: var(--color-dark-300);
}

:root.light {
  --text-color: var(--color-dark-200);
  --background-color: var(--color-light-200);
  --skill-color: var(--color-light-300);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Manrope', 'Inter', Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Menu */
#menu {
  position: absolute;
  height: 100vh;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > * {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Skills */
#skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  mask-image: linear-gradient(90deg,transparent 0%,#ffffff 300px,#ffffff calc(100vw - 300px),transparent 100%);
}

#skills .skills-header {
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  cursor: default;
  background: var(--background-color);
  z-index: 2;
}

#skills .skills-container {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .75rem;
}

#skills .skills-container::before,
#skills .skills-container::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 150px;
  background: #000000;
  z-index: 1;
  pointer-events: none;
}

#skills .skills-container::before {
  top: -50px;
  background: -moz-linear-gradient(top, var(--background-color) 0%, transparent 100%);
  background: -webkit-linear-gradient(top, var(--background-color) 0%, transparent 100%);
  background: linear-gradient(180deg, var(--background-color) 0%, transparent 100%);
}

#skills .skills-container::after {
  bottom: -25px;
  background: -moz-linear-gradient(bottom, var(--background-color) 0%, transparent 100%);
  background: -webkit-linear-gradient(bottom, var(--background-color) 0%, transparent 100%);
  background: linear-gradient(360deg, var(--background-color) 0%, transparent 100%);
}

#skills .skills-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 100px);
  grid-auto-rows: 100px;
  justify-content: center;
  gap: .75rem;
}

#skills .skills-wrapper:nth-child(even) {
  transform: translateX(2rem);
}

#skills .skills-wrapper .skill {
  position: relative;
  border: 1px solid var(--color-dark-400);
  border-radius: 15px;
  cursor: pointer;
  background: var(--skill-color);
  transition: .25s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s all ease-in-out;
}

#skills .skills-wrapper .skill:has(img) {
  opacity: 0;
}

#skills .skills-wrapper .skill.active {
  opacity: 1;
}

#skills .skills-wrapper .skill:has(img)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  background: var(--_glowing-color);
  filter: blur(20px);
  z-index: -1;
  opacity: 0;
  transition: 3s all ease;
}

#skills .skills-wrapper .skill:has(img):hover::before {
  opacity: 1;
  --_glowing-color: #F7DF1E;
  transition: .15s all ease;
}

#skills .skills-wrapper .skill.html:hover::before {
  --_glowing-color: #F16529;
}

#skills .skills-wrapper .skill.css:hover::before {
  --_glowing-color: #33AADD;
}

#skills .skills-wrapper .skill.java:hover::before {
  --_glowing-color: #E76F00;
}

#skills .skills-wrapper .skill.react:hover::before {
  --_glowing-color: #53C1DE;
}

#skills .skills-wrapper .skill.php:hover::before {
  --_glowing-color: #777BB3;
}

#skills .skills-wrapper .skill.code-igniter:hover::before {
  --_glowing-color: #EE4323;
}

#skills .skills-wrapper .skill.webpack:hover::before {
  --_glowing-color: #1C78C0;
}

#skills .skills-wrapper .skill.git:hover::before {
  --_glowing-color: #EE513B;
}

#skills .skills-wrapper .skill.jest:hover::before {
  --_glowing-color: #99425B;
}

#skills .skills-wrapper .skill.mysql:hover::before {
  --_glowing-color: #5D87A1;
}

#skills .skills-wrapper .skill.postgresql:hover::before {
  --_glowing-color: #336791;
}

#skills .skills-wrapper .skill.bootstrap:hover::before {
  --_glowing-color: #563D7C;
}

#skills .skills-wrapper .skill.tailwind:hover::before {
  --_glowing-color: #44A8B3;
}

#skills .skills-wrapper .skill:not(:has(img)):hover {
  transform: scale(.95);
  cursor: default;
}

#skills .skills-wrapper .skill > img {
  width: 75%;
  object-fit: contain;
  border-radius: 15px;
  z-index: 1;
}